* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* min-height: 7rem; */
    height: 50px;
    background-color: lightblue;
}

nav, main, aside {
    /* height: 15rem; */
    height: calc((100vh - 50px)/3);
}

nav {
    background-color: lightcoral;
}

main {
    background-color: aquamarine;
}

aside {
    background-color: yellow;
}

/* industry standard is mobile first */
@media screen and (min-width: 768px) {

    /* body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 15rem 1ft;
        height: 100vh;
    } 

    header {
        grid-column-start: 1;
        grid-column-end: 4;

    }

    nav, main, aside {
        height: unset;
    }  */

    .content-container {
        display: grid;
        justify-content: space-evenly;
    }

    nav, main, aside {
        height: calc((100vh - 50px));
        width: 33%;
    }

    @media screen and (max-width: 1200px) {

    }
}