@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,300&display=swap');

* {
    margin: 0;
    padding: 0;
    /* includes the border and margin weight and height*/
    box-sizing: border-box;
    /* fonts, colours  */
    font-family: "Libre Franklin" "Trade Gothic";
    text-align: center;
    color: rgb(56, 36, 48);
}

header {
    padding: 20px;
    background-color: rgb(249, 161, 175);
}

nav ul {
    list-style-type: none;
    background-color: rgb(254, 177, 190);

}

nav li {
    /* inline so we can edit the width and height */
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

.about {
    padding: 10px;
    background-color: rgb(249, 191, 200);

}

.about-me-p {
    background-color: rgb(251, 210, 217);
    padding-bottom: 10px;

}

.about:active {
    color: white;
}

/* _nology link in top section */

.nology-link {
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s, text-decoration 0.3s;
}

.nology-link:hover {
    color: blue; 
    text-decoration: none; 
}

/* Extension task 2 */
.nology-link:active {
    font-weight: bolder;
    color: green;
    text-decoration: underline; 
}

.highlight {
    color: #ff4500;
    background-color: rgb(255, 202, 211);
}

/* Extension task 1 */
.skills:hover {
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    background-color: rgb(251, 214, 220);
}

#projects {
    padding: 10px;
}

.project {
    font-family: "Lusitana";
    padding: 10px;
}

.project img {
    max-width: 10%;
    max-height: 10%
}

.project p {
    font-size: 12px;
    text-align: justify;
}

p {
    font-family: "DM Sans";
}

a {
    font-size: 13px;
    margin-bottom: 5px;
}

.footer-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(251, 228, 233);
}

/* 

Challenges:

- add appropriate styles to the projects section 
add fonts to your page (link) ✅

- add footer ✅

- pushing up to github ✅

*/






