* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 5px solid black;
    width: 90%;
    height: 800px;
    margin: 20px auto;
    padding: 10px;
    /* default = column, stacked on top of each other  
    default flex-direction = row
    */
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
}

/* changes width of each flex-items */
header, main, footer {
    /* width is best in percentages */
    width: 90%;
    height: 200px;
}

header {
    background-color: red;
}

/* flex inside a flex example */
.nav {
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    /* removes bullet points part 1 */
    list-style-type: none;
}

/* removes bullet points part 2 */
.nav li {
    margin-right: 15px;
}

main {
    background-color: blue;
}

footer {
    background-color: green;
}