@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Script";
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(245, 233, 235);
    color: rgb(2, 67, 2);
}

body {
    display: grid;
    grid-template-areas:
        "header header header nav"

        "main main main main"
        "div div div div"
        "article article article article"
    ;
    gap: 10px;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    /* grid-template-columns: 100px 100px 100px 10px; */
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

nav {
    grid-area: nav;
    list-style-type: none;
    background-color: orange;
}

.button > img {
    max-width: 100px;
}

main {
    grid-area: main;
    background-color: yellow;
}

div {
    grid-area: div;
    background-color: lightgreen;
}

article {
    grid-area: article;
    background-color: green;
}

section {
    grid-area: section;
    display: none;
    background-color: lightblue;
}

aside {
    grid-area: aside;
    display: none;
    background-color: blue;
}

figure {
    grid-area: figure;
    display: none;
    background-color: purple;
}

footer {
    grid-area: footer;
    display: none;
    background-color: brown;
}

header > button > img {
    max-width: 10%;
}

@media screen and (min-width: 768px){
    body{
        display: grid;
        grid-template-areas:
        "header header header nav"

        "main main main div"
        "article article section section"
        "article article aside aside"
        "figure footer footer footer"
        ;
        gap: 10px;
        grid-template-rows: 1fr 2fr 2fr 2fr 3fr;
    }

    nav {
        display: block;
        grid-area: nav;
        list-style-type: none;
        background-color: orange;
    }
    
    section {
        display: block;
        grid-area: section;
        background-color: lightblue;
    }
    
    aside {
        display: block;
        grid-area: aside;
        background-color: blue;
    }
    
    figure {
        display: block;
        grid-area: figure;
        background-color: purple;
    }
    
    footer {
        display: block;
        grid-area: footer;
        background-color: brown;
    }
}

@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-areas:
        "header header header nav"

        "main main div article"
        "section section section article"
        "section section section aside"
        "figure footer footer footer"
        ;
        gap: 10px;
        grid-template-rows: 1fr 3fr 3fr 3fr 6fr;
    }
}
