@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    color: white;
}

body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "aside nav nav nav"
        "aside main main main"
        "footer footer footer footer";
    grid-gap: 10px;
}

header {
    grid-area: header;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
}

nav {
    grid-area: nav;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(253, 183, 104);
}

main {
    grid-area: main;

    display: flex;
    justify-content: center;

    background-color: rgb(213, 211, 211);
}


aside {
    grid-area: aside;

    display: flex;
    justify-content: center;
    
    background-color: orange;
}

footer{
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
}

/* 
- industry standard is mobile first
- max-width - desktop to mobile 
- min-width - mobile to desktop 
*/
@media screen and (min-width: 768px) {

    body {
        grid-template-columns: auto-fill; 
        color: white;

    }


    header, footer {
        height: 25%;

        display: flex;
        justify-content: center;
        align-items: center;

    
    }


}

